<tr id="<%= expense.id %>">
  <td><%= expense.date %></td>
  <td><%= expense.type %></td>
  <td><%= expense.category %></td>
  <td><%= expense.amount %></td>
</tr>


<%= link_to "Edit", edit_expense_path(expense), remote: true %>
<%= link_to "Delete", edit_expense_path(expense), remote: true %>
